.player {
    width:100%;
    position: absolute;
    bottom:0;
    overflow: auto;
    height: 50px;
    border: 1px solid black;
    background: rgba(0,0,0,1);
    background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(33,37,41,1) 53%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(53%, rgba(33,37,41,1)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(33,37,41,1) 53%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(33,37,41,1) 53%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(33,37,41,1) 53%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(33,37,41,1) 53%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
}

.playpause{
    float:left;
    
}

.tempoAudio{
    float:right;
    color:white;
    font-weight: 500;
    padding-top: 12px;
    margin-right: 10px;
    
}

@media screen and (min-width: 1530px) {
    #tempo{
        width: 80%;
    }
}

@media screen and (min-width: 1300px) and (max-width: 1529px) {
    #tempo{
        margin-left: 40px;
        width: 75%;
    }
}

@media screen and (min-width: 1150px) and (max-width: 1305px) {
    #tempo{
        margin-left: 50px;
        width: 70%;
    }
}

@media screen and (min-width: 1100px) and (max-width: 1149px) {
    #tempo{
        margin-left: 50px;
        width: 67%;
    }
}

@media screen and (min-width: 850px) and (max-width: 1099px) {
    #tempo{
        margin-left: 50px;
        width: 66%;
    }
}

@media screen and (min-width: 758px) and (max-width: 849px) {
    #tempo{
        margin-left: 55px;
        width: 60%;
    }
}

@media screen and (min-width: 600px) and (max-width: 757px) {
    #tempo{
        margin-left: 25px;
        width: 56%;
    }
}

@media screen and (max-width: 600px) {
    #tempo{
        display: none !important;
    }
    .tempoAudio{
        display: none !important;
    }
    
    .player{
        width: 130px;
        border-top-right-radius: 20px;
    }
    
}

.botao{
    border:none;
    color: black;
    background-color:white;
    margin-left: 5px;
    margin-top:10px;
    width:30px;
    height: 30px;
    border-radius: 3px;
}

.button {
    width: 20%;
    height: 20%;
    color:white;
    background-color:black;
    background-repeat: no-repeat;
    float: left;
    margin-right: 5px;
}
 

#tempo::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
/*    border:1px solid black;*/
    background-color:green;
    -webkit-border-radius: 50%;
}